@CHARSET "UTF-8";
@import "content_stdelements.css";

/* tooltips */
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    color: #F9E9A9;
    background-color: #31353a;
    padding: 5px;
    opacity: 0.85;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#tooltip h3 {
    font-size: 10px;
}
#tooltip h3, #tooltip div { margin: 0; }

/* login table */
#content table.login {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
#content table.login td{
    padding: 2px;
}

#content input.openid {
    border-width:1px;
    border-style:solid;
    border-color: #F9E9A9;
    background: #2F2430 url('http://www.myopenid.com/static/openid-icon-small.gif') no-repeat scroll 0pt 50%;
    padding-left: 18px;
    color: #F9E9A9;
}

/* timers */
#content span.timer {
}
#content span.timer_replace {
}
#content span.timer_stop {
    color: #FF0000;
}

/* chat table */
#content table.chat {
    background-color:#31353a;
    margin: 0px;
    padding: 0px;
    word-wrap: break-word; /* IE + FF >3.1 only - CSS3 Text Effect */
    border-top: 2px solid #A99959;
    border-right: 2px solid #C9B979;
    border-bottom: 2px solid #C9B979;
    border-left: 2px solid #A99959;
    width: 100%;

}

#content tr.chatrow {
    background-color:#31353a;
    border-bottom: #DE7212 1px solid;
    text-align: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#content tr.highlight {
    background-color:#31353a;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

#content td.chatdate {
    text-align: left;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

#content td.chattext {
    border-bottom: #4A5763 1px dotted;
    text-align: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* moneyform */
input.moneyform_gold {
    border-width:1px;
    border-style:solid;
    border-color: #F9E9A9;
    background: #2F2430 url('../common/images/gold.gif') no-repeat scroll 0pt 50%;
    padding-left: 30px;
    width: 50px;
    text-align: right;
}
input.moneyform_silver {
    border-width:1px;
    border-style:solid;
    border-color: #F9E9A9;
    background: #2F2430 url('../common/images/silver.gif') no-repeat scroll 0pt 50%;
    padding-left: 30px;
    width: 50px;
    text-align: right;
}
input.moneyform_copper {
    border-width:1px;
    border-style:solid;
    border-color: #F9E9A9;
    background: #2F2430 url('../common/images/copper.gif') no-repeat scroll 0pt 50%;
    padding-left: 30px;
    width: 50px;
    text-align: right;
}

/* itemstats */
span.itemstat {
}

span.itemstat_improved {
    color: #d6f8f6;
}

span.itemstat_decreased {
    color: f8a6a6;
}

/* inventory */
#weapon, #armor_head, #armor_chest, #armor_arms, #armor_legs, #armor_feet {
    float:left;
}
div.equippedbox, div.backpackbox, div.backpackboxdrag {
    border: 1px solid #F9E9A9;
    min-height: 50px;
    width: 120px;
    height: auto;
    clear: both;
    margin: 5px;
}
div.equippedbox {
    position: relative;
    margin-bottom: 50px;
    background: #550000;
}

div.backpackbox {
    cursor: move;
}
div.backpackboxdrag {
    background-color: #000055;
    z-index: 1;
}
div.backpackboxhover {
    background-color: #005500;
}
div.backpackboxchanged:after {
    background-color: #880000;
    content: "geändert!";
}
p.itemname, p.itemdata {
    margin: 0px;
     word-wrap: break-word;
}
p.itemname {
    font-weight: bold;
    font-size: 80%;
    color: #FFFFFF;
}
p.itemdata {
    font-size: 80%;
}

/* battle */
div.battleinfo {
    border: 1px solid #F9E9A9;
    min-height: 50px;
    min-width: 120px;
    height: auto;
    margin: 5px;
}
