@CHARSET "UTF-8";

body {
    font-size: small;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: white;
    background: #000000;
}

#wrap {
    padding: 5px;
    margin: 0 auto 0 auto;
}

#header {
    border: 1px solid;
    height: 80px;
    width: 100%;
}

#header .headbackground{
    background: #030129;
    width: 100%;
    height: 100%;
    opacity: 0.95;
}

#header .pagetitle {
    width: 100%;
    height: 50px;
    font-size: 400%;
    font-weight: bold;
    text-decoration: none;
    vertical-align: bottom;
    padding-left: 5px;
    opacity: 0.8;
}

#header .topnav {
    clear: left;
    height: 30px;
    padding-top: 5px;
}

#header .topnav a {
    margin: 7px 0 0 0;
    padding: 0 22px 0 5px;
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

#header .topnav a:hover {
    color: #ffd124;
    text-decoration: none;
}

#main-body {
    float: left;
    margin-top: 5px;
    border: 1px solid;
    width: 100%;
    background: #030129;
}

#sidebar {
    float: left;
    width: 20%;
    max-width: 175px;
}

#sidebar .navbox {
    width: 160px;
    margin: 1px 0;
    margin: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #fff071;
}
 #sidebar .navbox h3 {
    margin: 0;
    padding: 6px 8px 4px 10px;
    border-bottom: 1px solid #ffd124;
    font-weight: bold;
    font-size: 125%;
    color: #ffd124;
    cursor: default;
}
#sidebar .navbox ul {
    margin: 0;
    padding: 14px 10px 14px 10px;
    list-style: none;
}
#sidebar .navbox ul li {
    margin: 0 0 6px;
    padding: 0;
    font-weight: bold;
    font-size: small;
    color: #ffd124;
    cursor: default;
}
#sidebar .navbox a {
    color: #ffffff;
    text-decoration: none;
}
#sidebar .navbox a:hover{
    color: #ffd124;
    text-decoration: none;
}

#content {
    float: left;
    width: 58%;
    padding: 5px;
}

#content table.chat {
    background-color:#FAF7D3;
    border-top: #EEA262 2px solid;
    border-bottom: #DE7212 2px solid;
    border-left: #EEA262 2px solid;
    border-right: #DE7212 2px solid;
    margin: 0px;
    padding: 0px;
    table-layout:fixed;
    word-wrap: break-word; /* IE + FF >3.1 only - CSS3 Text Effect */
    color: black;
}

#content tr.chatrow {
    background-color:#FAF7D3;
    border-bottom: #DE7212 1px solid;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

#content tr.highlight {
    background-color:#CAC7A3;
    border-right: #328E42 1px solid;
    border-bottom: #328E42 1px solid;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

#content td.chatdate {
    background-color:#CAC7A3;
    border-right: #328E42 1px solid;
    border-bottom: #328E42 1px solid;
    text-align: center;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    width: 75px;
}

#content td.chatuser {
    background-color:#FAD7B3;
    border-right: #DE7212 1px solid;
    border-bottom: #DE7212 1px solid;
    text-align: left;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    width: 100px;
}

#content td.chattext {
/*	background-color:#FAF7D3;*/
    border-bottom: #EAE7C3 1px dotted;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

#stats {
    float: right;
    width: 20%;
    max-width: 190px;
}

#stats .statbox {
    float: right;
    width: 180px;
    margin: 1px 0;
    margin: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #fff071;
}

#stats .statbox h3 {
    margin: 0;
    padding: 6px 8px 4px 10px;
    border-bottom: 1px dotted #ffd124;
    font-weight: bold;
    font-size: 125%;
    color: #ffd124;
    cursor: default;
}

#stats .statbox #item {

}

#stats .statbox #item .name {
    float: left;
    font-weight: bold;
    margin: 0 0 0 0;
}

#stats .statbox #item .wert {
    float: right;
    margin: 0 0 0 0;
}

#footer {
    float: left;
    margin-top: 5px;
    border: 1px solid;
    height: 30px;
    width: 100%;
}
#footer .footerbackground {
    background: #030129;
    width: 100%;
    height: 100%;
    opacity: 0.95;
}
#footer .time {
    text-align: left;
    padding-left: 5px;
    padding-top: 6px;
    float: left;
    width: 33%;
}
#footer .info {
    text-align: center;
    padding-top: 6px;
    float: left;
    width: 33%;
}
#footer .pagegen {
    text-align: right;
    padding-right: 5px;
    padding-top: 6px;
    float: right;
    width: 33%;
}
