@CHARSET "UTF-8";
body {
    font-size: small;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: black;
    background: #b1651a;
}
a {
    color: #b1651a;
    text-decoration: none;
}
a:hover {
    color: #222222;
    text-decoration: none;
}
.input{
    border-width:1px;
    border-style:solid;
    border-color: #9E7212;
    background-color: #FFF4D0;
}
.inputr{
    border-width:1px;
    border-style:solid;
    border-color: #9E7212;
    background-color: #FFF4D0;
    text-align: right;
}
.textarea{
    border-width:1px;
    border-style:solid;
    border-color: #9E7212;
    background-color: #FFF4D0;
}
.select{
    border-width:1px;
    border-style:solid;
    border-color: #9E7212;
    background-color: #FFF4D0;
}
.button{
    border-width:1px;
    border-style:solid;
    border-color: #9E7212;
    background-color: #FFF4D0;
    text-align:center;
}
a{
    color: #b1651a;
    text-decoration: none;
}
a:hover{
    color: #222222;
    text-decoration: none;
}

/* main-body preferences */
#main-body {
    margin: 0px;
    padding: 0px;
    background: #FAE7A3;
    width: 100%;
}
/* content preferences */
#content {
    background: #FAE7A3;
    padding: 5px;
}


/* footer preferences */
#footer {
    clear: both;
    background: #b1651a url(images/top_nav_bg.gif) repeat-x top left;
    height: 30px;
    width: 100%;
}
#pagegen {
    float: right;
    color: #FAE7A3;
    font-size: small;
    padding: 6px 5px;
    text-align: right;
    border: 2px #FFF;
}

#time {
    float: left;
    color: #FAE7A3;
    font-size: small;
    padding: 6px 5px;
    border: 2px #FFF;
}
