@CHARSET "ISO-8859-1";

body {
    background-color:#FAE7A3;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
}

.input{
    border-width:1px;
    border-style:solid;
    border-color: #9E7212;
    background-color: #FFF4D0;
}

.inputr{
    border-width:1px;
    border-style:solid;
    border-color: #9E7212;
    background-color: #FFF4D0;
    text-align: right;
}

.textarea{
    border-width:1px;
    border-style:solid;
    border-color: #9E7212;
    background-color: #FFF4D0;
}

.select{
    border-width:1px;
    border-style:solid;
    border-color: #9E7212;
    background-color: #FFF4D0;
}

.button{
    border-width:1px;
    border-style:solid;
    border-color: #9E7212;
    background-color: #FFF4D0;
    text-align:center;
}

a{
    color: #b1651a;
    text-decoration: none;
}
a:hover{
    color: #222222;
    text-decoration: none;
}

.logintable {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    white-space: normal;
}

table.chat {
    background-color:#FAF7D3;
    border-top: #DE7212 1px solid;
    border-bottom: #DE7212 1px solid;
    border-left: #DE7212 1px solid;
    border-right: #DE7212 1px solid;
}

tr.chatrow {
    background-color:#FAF7D3;
    border-bottom: #DE7212 1px solid;
    text-align: left;
}

td.chatdate {
    background-color:#FAF7D3;
    border-bottom: #DE7212 1px solid;
    text-align: left;
}

td.chatuser {
    background-color:#FAF7D3;
    border-bottom: #DE7212 1px solid;
    text-align: left;
}

td.chatline {
    background-color:#FAF7D3;
    border-bottom: #DE7212 1px solid;
    text-align: left;
}

.navhead {
    height: 35px;
    line-height: 10px;
    float: center;
    clear: none;
    font-weight: bold;
    font-size: 18px;
    color: #b1651a;
    cursor: default;
}
.nav {
    height: 30px;
    line-height: 10px;
    float: center;
    clear: none;
    font-weight: bold;
    font-size: 12px;
    color: #b1651a;
    cursor: default;
}

.stathead {
    background-color:#FAF7D3;
    text-decoration: none;
    width: 150px;
    height: auto;
    padding: 3px;
    line-height: 10px;
    float: right;
    clear: none;
    font-weight: bold;
    cursor: default;
    border-top: #9E7212 1px solid;
    border-bottom: #9E7212 1px solid;
    border-left: #9E7212 1px solid;
    border-right: #9E7212 1px solid;
}
.stat {
    background-color:#EAF7D3;
    text-decoration: none;
    width: 150px;
    height: auto;
    padding: 3px;
    line-height: 10px;
    float: right;
    clear: none;
    font-weight: bold;
    cursor: default;
    border-top: #BE9272 1px solid;
    border-bottom: #BE9272 1px solid;
    border-left: #BE9272 1px solid;
    border-right: #BE9272 1px solid;
}
