@CHARSET "UTF-8";

/* Invalid Tags */
.btcode_invalid { color: yellow; background: red }

/* Special Format */
.btcode_b { font-weight: bold; }
.btcode_c { text-align: center; }
.btcode_i { font-style: italic; }

/* Grey */
.btcode_00 { color: #FFFFFF; }
.btcode_00_bg { background: #FFFFFF; }
.btcode_01 { color: #E6E6E6 }
.btcode_01_bg { background: #E6E6E6 }
.btcode_02 { color: #D9D9D9; }
.btcode_02_bg { background: #D9D9D9; }
.btcode_03 { color: #CCCCCC; }
.btcode_03_bg { background: #CCCCCC; }
.btcode_04 { color: #BFBFBF; }
.btcode_04_bg { background: #BFBFBF; }
.btcode_05 { color: #B3B3B3; }
.btcode_05_bg { background: #B3B3B3; }
.btcode_06 { color: #A6A6A6; }
.btcode_06_bg { background: #A6A6A6; }
.btcode_07 { color: #8C8C8C; }
.btcode_07_bg { background: #8C8C8C; }
.btcode_08 { color: #737373; }
.btcode_08_bg { background: #737373; }
.btcode_09 { color: #666666; }
.btcode_09_bg { background: #666666; }
.btcode_0a { color: #4D4D4D; }
.btcode_0a_bg { background: #4D4D4D; }
.btcode_0b { color: #404040; }
.btcode_0b_bg { background: #404040; }
.btcode_0c { color: #333333; }
.btcode_0c_bg { background: #333333; }
.btcode_0d { color: #262626; }
.btcode_0d_bg { background: #262626; }
.btcode_0e { color: #1A1A1A; }
.btcode_0e_bg { background: #1A1A1A; }
.btcode_0f { color: #000000; }
.btcode_0f_bg { background: #000000; }

/* Red */
.btcode_10 { color: #A25E5E; }
.btcode_10_bg { background: #A25E5E; }
.btcode_11 { color: #B34D4D; }
.btcode_11_bg { background: #B34D4D; }
.btcode_12 { color: #BB4444; }
.btcode_12_bg { background: #BB4444; }
.btcode_13 { color: #C43B3B; }
.btcode_13_bg { background: #C43B3B; }
.btcode_14 { color: #CC3333; }
.btcode_14_bg { background: #CC3333; }
.btcode_15 { color: #D52A2A; }
.btcode_15_bg { background: #D52A2A; }
.btcode_16 { color: #DD2222; }
.btcode_16_bg { background: #DD2222; }
.btcode_17 { color: #E61919; }
.btcode_17_bg { background: #E61919; }
.btcode_18 { color: #EE1111 }
.btcode_18_bg { background: #EE1111 }
.btcode_19 { color: #FB0404; }
.btcode_19_bg { background: #FB0404; }
.btcode_1a { color: #E20404; }
.btcode_1a_bg { background: #E20404; }
.btcode_1b { color: #C90303; }
.btcode_1b_bg { background: #C90303; }
.btcode_1c { color: #B00303; }
.btcode_1c_bg { background: #B00303; }
.btcode_1d { color: #970202; }
.btcode_1d_bg { background: #970202; }
.btcode_1e { color: #7E0202 }
.btcode_1e_bg { background: #7E0202 }
.btcode_1f { color: #640202; }
.btcode_1f_bg { background: #640202; }

/* Orange */
.btcode_20 { color: #A2795E; }
.btcode_20_bg { background: #A2795E; }
.btcode_21 { color: #B3754D }
.btcode_21_bg { background: #B3754D }
.btcode_22 { color: #BB7444; }
.btcode_22_bg { background: #BB7444; }
.btcode_23 { color: #C4723B; }
.btcode_23_bg { background: #C4723B; }
.btcode_24 { color: #CC7033; }
.btcode_24_bg { background: #CC7033; }
.btcode_25 { color: #D56F2A; }
.btcode_25_bg { background: #D56F2A; }
.btcode_26 { color: #DD6D22; }
.btcode_26_bg { background: #DD6D22; }
.btcode_27 { color: #E66B19; }
.btcode_27_bg { background: #E66B19; }
.btcode_28 { color: #EE6911; }
.btcode_28_bg { background: #EE6911; }
.btcode_29 { color: #FF6600; }
.btcode_29_bg { background: #FF6600; }
.btcode_2a { color: #E65C00; }
.btcode_2a_bg { background: #E65C00; }
.btcode_2b { color: #CC5200; }
.btcode_2b_bg { background: #CC5200; }
.btcode_2c { color: #B34700; }
.btcode_2c_bg { background: #B34700; }
.btcode_2d { color: #993D00; }
.btcode_2d_bg { background: #993D00; }
.btcode_2e { color: #803300; }
.btcode_2e_bg { background: #803300; }
.btcode_2f { color: #662900; }
.btcode_2f_bg { background: #662900; }

/* Yellow */
.btcode_30 { color: #A2945E; }
.btcode_30_bg { background: #A2945E; }
.btcode_31 { color: #B39E4D }
.btcode_31_bg { background: #B39E4D }
.btcode_32 { color: #BBA344; }
.btcode_32_bg { background: #BBA344; }
.btcode_33 { color: #C4A83B; }
.btcode_33_bg { background: #C4A83B; }
.btcode_34 { color: #CCAD33; }
.btcode_34_bg { background: #CCAD33; }
.btcode_35 { color: #D5B32A; }
.btcode_35_bg { background: #D5B32A; }
.btcode_36 { color: #DDB822; }
.btcode_36_bg { background: #DDB822; }
.btcode_37 { color: #E6BD19; }
.btcode_37_bg { background: #E6BD19; }
.btcode_38 { color: #EEC211; }
.btcode_38_bg { background: #EEC211; }
.btcode_39 { color: #FFCC00; }
.btcode_39_bg { background: #FFCC00; }
.btcode_3a { color: #E6B800; }
.btcode_3a_bg { background: #E6B800; }
.btcode_3b { color: #CCA300; }
.btcode_3b_bg { background: #CCA300; }
.btcode_3c { color: #B38F00; }
.btcode_3c_bg { background: #B38F00; }
.btcode_3d { color: #997A00; }
.btcode_3d_bg { background: #997A00; }
.btcode_3e { color: #806600; }
.btcode_3e_bg { background: #806600; }
.btcode_3f { color: #665200; }
.btcode_3f_bg { background: #665200; }

/* Lime */
.btcode_40 { color: #94A25E; }
.btcode_40_bg { background: #94A25E; }
.btcode_41 { color: #9EB34D }
.btcode_41_bg { background: #9EB34D }
.btcode_42 { color: #A3BB44; }
.btcode_42_bg { background: #A3BB44; }
.btcode_43 { color: #A8C43B; }
.btcode_43_bg { background: #A8C43B; }
.btcode_44 { color: #ADCC33; }
.btcode_44_bg { background: #ADCC33; }
.btcode_45 { color: #B2D52A; }
.btcode_45_bg { background: #B2D52A; }
.btcode_46 { color: #B8DD22; }
.btcode_46_bg { background: #B8DD22; }
.btcode_47 { color: #BDE619; }
.btcode_47_bg { background: #BDE619; }
.btcode_48 { color: #C2EE11; }
.btcode_48_bg { background: #C2EE11; }
.btcode_49 { color: #CCFF00; }
.btcode_49_bg { background: #CCFF00; }
.btcode_4a { color: #B8E600; }
.btcode_4a_bg { background: #B8E600; }
.btcode_4b { color: #A3CC00; }
.btcode_4b_bg { background: #A3CC00; }
.btcode_4c { color: #8FB300; }
.btcode_4c_bg { background: #8FB300; }
.btcode_4d { color: #7A9900; }
.btcode_4d_bg { background: #7A9900; }
.btcode_4e { color: #668000; }
.btcode_4e_bg { background: #668000; }
.btcode_4f { color: #526600; }
.btcode_4f_bg { background: #526600; }

/* Light Green */
.btcode_50 { color: #79A25E; }
.btcode_50_bg { background: #79A25E; }
.btcode_51 { color: #75B34D }
.btcode_51_bg { background: #75B34D }
.btcode_52 { color: #74BB44; }
.btcode_52_bg { background: #74BB44; }
.btcode_53 { color: #72C43B; }
.btcode_53_bg { background: #72C43B; }
.btcode_54 { color: #70CC33; }
.btcode_54_bg { background: #70CC33; }
.btcode_55 { color: #6ED52A; }
.btcode_55_bg { background: #6ED52A; }
.btcode_56 { color: #6DDD22; }
.btcode_56_bg { background: #6DDD22; }
.btcode_57 { color: #6BE619; }
.btcode_57_bg { background: #6BE619; }
.btcode_58 { color: #69EE11; }
.btcode_58_bg { background: #69EE11; }
.btcode_59 { color: #66FF00; }
.btcode_59_bg{ background: #66FF00; }
.btcode_5a { color: #5CE600; }
.btcode_5a_bg { background: #5CE600; }
.btcode_5b { color: #52CC00; }
.btcode_5b_bg { background: #52CC00; }
.btcode_5c { color: #47B300; }
.btcode_5c_bg { background: #47B300; }
.btcode_5d { color: #3D9900; }
.btcode_5d_bg { background: #3D9900; }
.btcode_5e { color: #338000; }
.btcode_5e_bg { background: #338000; }
.btcode_5f { color: #296600; }
.btcode_5f_bg{ background: #296600; }

/* Solid Green */
.btcode_60 { color: #5EA25E; }
.btcode_60_bg { background: #5EA25E; }
.btcode_61 { color: #4DB34D }
.btcode_61_bg { background: #4DB34D }
.btcode_62 { color: #44BB44; }
.btcode_62_bg { background: #44BB44; }
.btcode_63 { color: #3BC43B; }
.btcode_63_bg { background: #3BC43B; }
.btcode_64 { color: #33CC33; }
.btcode_64_bg { background: #33CC33; }
.btcode_65 { color: #2AD52A; }
.btcode_65_bg { background: #2AD52A; }
.btcode_66 { color: #22DD22; }
.btcode_66_bg { background: #22DD22; }
.btcode_67 { color: #19E619; }
.btcode_67_bg { background: #19E619; }
.btcode_68 { color: #11EE11; }
.btcode_68_bg { background: #11EE11; }
.btcode_69 { color: #00FF00; }
.btcode_69_bg { background: #00FF00; }
.btcode_6a { color: #00E600; }
.btcode_6a_bg { background: #00E600; }
.btcode_6b { color: #00CC00; }
.btcode_6b_bg { background: #00CC00; }
.btcode_6c { color: #00B300; }
.btcode_6c_bg { background: #00B300; }
.btcode_6d { color: #009900; }
.btcode_6d_bg { background: #009900; }
.btcode_6e { color: #008000; }
.btcode_6e_bg { background: #008000; }
.btcode_6f { color: #006600; }
.btcode_6f_bg { background: #006600; }

/* GreenBlue */
.btcode_70 { color: #5EA279; }
.btcode_70_bg { background: #5EA279; }
.btcode_71 { color: #4DB375 }
.btcode_71_bg { background: #4DB375 }
.btcode_72 { color: #44BB74; }
.btcode_72_bg { background: #44BB74; }
.btcode_73 { color: #3BC472; }
.btcode_73_bg { background: #3BC472; }
.btcode_74 { color: #33CC70; }
.btcode_74_bg { background: #33CC70; }
.btcode_75 { color: #2AD56F; }
.btcode_75_bg { background: #2AD56F; }
.btcode_76 { color: #22DD6D; }
.btcode_76_bg { background: #22DD6D; }
.btcode_77 { color: #19E66B; }
.btcode_77_bg { background: #19E66B; }
.btcode_78 { color: #11EE69; }
.btcode_78_bg { background: #11EE69; }
.btcode_79 { color: #00FF66; }
.btcode_79_bg { background: #00FF66; }
.btcode_7a { color: #00E65C; }
.btcode_7a_bg { background: #00E65C; }
.btcode_7b { color: #00CC52; }
.btcode_7b_bg { background: #00CC52; }
.btcode_7c { color: #00B347; }
.btcode_7c_bg { background: #00B347; }
.btcode_7d { color: #00993D; }
.btcode_7d_bg { background: #00993D; }
.btcode_7e { color: #008033; }
.btcode_7e_bg { background: #008033; }
.btcode_7f { color: #006629; }
.btcode_7f_bg { background: #006629; }

/* Turquoise */
.btcode_80 { color: #5EA294; }
.btcode_80_bg { background: #5EA294; }
.btcode_81 { color: #4DB39E }
.btcode_81_bg { background: #4DB39E }
.btcode_82 { color: #44BBA3; }
.btcode_82_bg { background: #44BBA3; }
.btcode_83 { color: #3BC4A8; }
.btcode_83_bg { background: #3BC4A8; }
.btcode_84 { color: #33CCAD; }
.btcode_84_bg { background: #33CCAD; }
.btcode_85 { color: #2AD5B2; }
.btcode_85_bg { background: #2AD5B2; }
.btcode_86 { color: #22DDB8; }
.btcode_86_bg { background: #22DDB8; }
.btcode_87 { color: #19E6BD; }
.btcode_87_bg { background: #19E6BD; }
.btcode_88 { color: #11EEC2; }
.btcode_88_bg { background: #11EEC2; }
.btcode_89 { color: #00FFCC; }
.btcode_89_bg { background: #00FFCC; }
.btcode_8a { color: #00E6B8; }
.btcode_8a_bg { background: #00E6B8; }
.btcode_8b { color: #00CCA3; }
.btcode_8b_bg { background: #00CCA3; }
.btcode_8c { color: #00B38F; }
.btcode_8c_bg { background: #00B38F; }
.btcode_8d { color: #00997A; }
.btcode_8d_bg { background: #00997A; }
.btcode_8e { color: #008066; }
.btcode_8e_bg { background: #008066; }
.btcode_8f { color: #006652; }
.btcode_8f_bg { background: #006652; }

/* TurquoiseBlue */
.btcode_90 { color: #5E94A2; }
.btcode_90_bg { background: #5E94A2; }
.btcode_91 { color: #4D9EB3 }
.btcode_91_bg { background: #4D9EB3 }
.btcode_92 { color: #44A3BB; }
.btcode_92_bg { background: #44A3BB; }
.btcode_93 { color: #3BA8C4; }
.btcode_93_bg { background: #3BA8C4; }
.btcode_94 { color: #33ADCC; }
.btcode_94_bg { background: #33ADCC; }
.btcode_95 { color: #2AB2D5; }
.btcode_95_bg { background: #2AB2D5; }
.btcode_96 { color: #22B8DD; }
.btcode_96_bg { background: #22B8DD; }
.btcode_97 { color: #19BDE6; }
.btcode_97_bg { background: #19BDE6; }
.btcode_98 { color: #11C2EE; }
.btcode_98_bg { background: #11C2EE; }
.btcode_99 { color: #00CCFF; }
.btcode_99_bg { background: #00CCFF; }
.btcode_9a { color: #00B8E6; }
.btcode_9a_bg { background: #00B8E6; }
.btcode_9b { color: #00A3CC; }
.btcode_9b_bg { background: #00A3CC; }
.btcode_9c { color: #008FB3; }
.btcode_9c_bg { background: #008FB3; }
.btcode_9d { color: #007A99; }
.btcode_9d_bg { background: #007A99; }
.btcode_9e { color: #006680; }
.btcode_9e_bg { background: #006680; }
.btcode_9f { color: #005266; }
.btcode_9f_bg { background: #005266; }

/* Light Blue */
.btcode_a0 { color: #5E79A2; }
.btcode_a0_bg { background: #5E79A2; }
.btcode_a1 { color: #4D75B3 }
.btcode_a1_bg { background: #4D75B3 }
.btcode_a2 { color: #4474BB; }
.btcode_a2_bg { background: #4474BB; }
.btcode_a3 { color: #3B72C4; }
.btcode_a3_bg { background: #3B72C4; }
.btcode_a4 { color: #3370CC; }
.btcode_a4_bg { background: #3370CC; }
.btcode_a5 { color: #2A6ED5; }
.btcode_a5_bg { background: #2A6ED5; }
.btcode_a6 { color: #226DDD; }
.btcode_a6_bg { background: #226DDD; }
.btcode_a7 { color: #196BE6; }
.btcode_a7_bg { background: #196BE6; }
.btcode_a8 { color: #1169EE; }
.btcode_a8_bg { background: #1169EE; }
.btcode_a9 { color: #0066FF; }
.btcode_a9_bg { background: #0066FF; }
.btcode_aa { color: #005CE6; }
.btcode_aa_bg { background: #005CE6; }
.btcode_ab { color: #0052CC; }
.btcode_ab_bg { background: #0052CC; }
.btcode_ac { color: #0047B3; }
.btcode_ac_bg { background: #0047B3; }
.btcode_ad { color: #003D99; }
.btcode_ad_bg { background: #003D99; }
.btcode_ae { color: #003380; }
.btcode_ae_bg { background: #003380; }
.btcode_af { color: #002966; }
.btcode_af_bg { background: #002966; }

/* Solid Blue */
.btcode_b0 { color: #666699; }
.btcode_b0_bg { background: #666699; }
.btcode_b1 { color: #5E5EA2 }
.btcode_b1_bg { background: #5E5EA2 }
.btcode_b2 { color: #5555AA; }
.btcode_b2_bg { background: #5555AA; }
.btcode_b3 { color: #4D4DB3; }
.btcode_b3_bg { background: #4D4DB3; }
.btcode_b4 { color: #4444BB; }
.btcode_b4_bg { background: #4444BB; }
.btcode_b5 { color: #3B3BC4; }
.btcode_b5_bg { background: #3B3BC4; }
.btcode_b6 { color: #3333CC; }
.btcode_b6_bg { background: #3333CC; }
.btcode_b7 { color: #2626D9; }
.btcode_b7_bg { background: #2626D9; }
.btcode_b8 { color: #1515EA; }
.btcode_b8_bg { background: #1515EA; }
.btcode_b9 { color: #0404FB; }
.btcode_b9_bg { background: #0404FB; }
.btcode_ba { color: #0404E2; }
.btcode_ba_bg { background: #0404E2; }
.btcode_bb { color: #0303C9; }
.btcode_bb_bg { background: #0303C9; }
.btcode_bc { color: #0303B0; }
.btcode_bc_bg { background: #0303B0; }
.btcode_bd { color: #020297; }
.btcode_bd_bg { background: #020297; }
.btcode_be { color: #02027E; }
.btcode_be_bg { background: #02027E; }
.btcode_bf { color: #020264; }
.btcode_bf_bg { background: #020264; }

/* Solid Purple */
.btcode_c0 { color: #7A6699; }
.btcode_c0_bg { background: #7A6699; }
.btcode_c1 { color: #795EA2 }
.btcode_c1_bg { background: #795EA2 }
.btcode_c2 { color: #7755AA; }
.btcode_c2_bg { background: #7755AA; }
.btcode_c3 { color: #754DB3; }
.btcode_c3_bg { background: #754DB3; }
.btcode_c4 { color: #7444BB; }
.btcode_c4_bg { background: #7444BB; }
.btcode_c5 { color: #723BC4; }
.btcode_c5_bg { background: #723BC4; }
.btcode_c6 { color: #7033CC; }
.btcode_c6_bg { background: #7033CC; }
.btcode_c7 { color: #6E26D9; }
.btcode_c7_bg { background: #6E26D9; }
.btcode_c8 { color: #6A15EA; }
.btcode_c8_bg { background: #6A15EA; }
.btcode_c9 { color: #6704FB; }
.btcode_c9_bg { background: #6704FB; }
.btcode_ca { color: #5D04E2; }
.btcode_ca_bg { background: #5D04E2; }
.btcode_cb { color: #5203C9; }
.btcode_cb_bg { background: #5203C9; }
.btcode_cc { color: #4803B0; }
.btcode_cc_bg { background: #4803B0; }
.btcode_cd { color: #3E0297; }
.btcode_cd_bg { background: #3E0297; }
.btcode_ce { color: #34027E; }
.btcode_ce_bg { background: #34027E; }
.btcode_cf { color: #290264; }
.btcode_cf_bg { background: #290264; }

/* Purple */
.btcode_d0 { color: #945EA2; }
.btcode_d0_bg { background: #945EA2; }
.btcode_d1 { color: #9E4DB3 }
.btcode_d1_bg { background: #9E4DB3 }
.btcode_d2 { color: #A344BB; }
.btcode_d2_bg { background: #A344BB; }
.btcode_d3 { color: #A83BC4; }
.btcode_d3_bg { background: #A83BC4; }
.btcode_d4 { color: #AD33CC; }
.btcode_d4_bg { background: #AD33CC; }
.btcode_d5 { color: #B32AD5; }
.btcode_d5_bg { background: #B32AD5; }
.btcode_d6 { color: #B822DD; }
.btcode_d6_bg { background: #B822DD; }
.btcode_d7 { color: #BD19E6; }
.btcode_d7_bg { background: #BD19E6; }
.btcode_d8 { color: #C211EE; }
.btcode_d8_bg { background: #C211EE; }
.btcode_d9 { color: #CC00FF; }
.btcode_d9_bg { background: #CC00FF; }
.btcode_da { color: #B800E6; }
.btcode_da_bg { background: #B800E6; }
.btcode_db { color: #A300CC; }
.btcode_db_bg { background: #A300CC; }
.btcode_dc { color: #8F00B3; }
.btcode_dc_bg { background: #8F00B3; }
.btcode_dd { color: #7A0099; }
.btcode_dd_bg { background: #7A0099; }
.btcode_de { color: #660080; }
.btcode_de_bg { background: #660080; }
.btcode_df { color: #520066; }
.btcode_df_bg { background: #520066; }

/* Pink */
.btcode_e0 { color: #A25E94; }
.btcode_e0_bg { background: #A25E94; }
.btcode_e1 { color: #B34D9E }
.btcode_e1_bg { background: #B34D9E }
.btcode_e2 { color: #BB44A3; }
.btcode_e2_bg { background: #BB44A3; }
.btcode_e3 { color: #C43BA8; }
.btcode_e3_bg { background: #C43BA8; }
.btcode_e4 { color: #CC33AD; }
.btcode_e4_bg { background: #CC33AD; }
.btcode_e5 { color: #D52AB3; }
.btcode_e5_bg { background: #D52AB3; }
.btcode_e6 { color: #DD22B8; }
.btcode_e6_bg { background: #DD22B8; }
.btcode_e7 { color: #E619BD; }
.btcode_e7_bg { background: #E619BD; }
.btcode_e8 { color: #EE11C2; }
.btcode_e8_bg { background: #EE11C2; }
.btcode_e9 { color: #FF00CC; }
.btcode_e9_bg { background: #FF00CC; }
.btcode_ea { color: #E600B8; }
.btcode_ea_bg { background: #E600B8; }
.btcode_eb { color: #CC00A3; }
.btcode_eb_bg { background: #CC00A3; }
.btcode_ec { color: #B3008F; }
.btcode_ec_bg { background: #B3008F; }
.btcode_ed { color: #99007A; }
.btcode_ed_bg { background: #99007A; }
.btcode_ee { color: #800066; }
.btcode_ee_bg { background: #800066; }
.btcode_ef { color: #660052; }
.btcode_ef_bg { background: #660052; }

/* Solid Pink */
.btcode_f0 { color: #A25E79; }
.btcode_f0_bg { background: #A25E79; }
.btcode_f1 { color: #B34D75 }
.btcode_f1_bg { background: #B34D75 }
.btcode_f2 { color: #BB4474; }
.btcode_f2_bg { background: #BB4474; }
.btcode_f3 { color: #C43B72; }
.btcode_f3_bg { background: #C43B72; }
.btcode_f4 { color: #CC3370; }
.btcode_f4_bg { background: #CC3370; }
.btcode_f5 { color: #D52A6F; }
.btcode_f5_bg { background: #D52A6F; }
.btcode_f6 { color: #DD226D; }
.btcode_f6_bg { background: #DD226D; }
.btcode_f7 { color: #E6196B; }
.btcode_f7_bg { background: #E6196B; }
.btcode_f8 { color: #EE1169; }
.btcode_f8_bg { background: #EE1169; }
.btcode_f9 { color: #FB0467; }
.btcode_f9_bg { background: #FB0467; }
.btcode_fa { color: #E2045D; }
.btcode_fa_bg { background: #E2045D; }
.btcode_fb { color: #C90352; }
.btcode_fb_bg { background: #C90352; }
.btcode_fc { color: #B00348; }
.btcode_fc_bg { background: #B00348; }
.btcode_fd { color: #97023E; }
.btcode_fd_bg { background: #97023E; }
.btcode_fe { color: #7E0234; }
.btcode_fe_bg { background: #7E0234; }
.btcode_ff { color: #640229; }
.btcode_ff_bg { background: #640229; }